# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.ci-venv/
.env
.mypy_cache/
.pytest_cache/
*.egg
dist/
build/

# Coverage
.coverage
coverage.xml
htmlcov/

# VSCode / IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Scoring
scoring_results.json

# Docker
.docker/

# Jupyter
.ipynb_checkpoints/